﻿@model EstudioExa.BissinessPersona.EntPersona

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BtnAgregar</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        <table>
            <tr>
                <td>Nombre</td>
                <td>Fecha de Nacimiento</td>
                <td>Correo</td>
                <td>Usuario</td>
                <td>Contraseña</td>
            </tr>
                        
            <tr>
                <td>@Html.TextBox("Nombre")</td>
                <td>@Html.TextBox("Fecha_Nacimiento")</td>
                <td>@Html.TextBox("Correo")</td>
                <td>@Html.TextBox("Usuario")</td>
                <td>@Html.TextBox("Contraseña")</td>

                <td> <input type="submit" name="btnAgregar" value="Agregar " formaction="/Home/Agregar" /> </td>
            </tr>
            
        </table>
    }
    
    <div>
        @Html.ActionLink("Regresar", "Index")
    </div>
</body>
</html>
