﻿@*agregamos su espacio de nombres*@
@using EstudioExa.BissinessPersona

@*Enlazamos a un modelo*@
@model List<EntPersona>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BtnMostrar</title>
</head>
<body>
    <table style="border:1px solid black; width: 100% ">
        <tr>
            <td>Nombre</td>
            <td>Fecha de Nacimiento</td>
            <td>Correo</td>
            <td>Usuario</td>
            <td>Contraseña</td>
            <td>Datos Usuario</td>
        </tr>
        @*Recorre elementos de una lista(EntPersona). Modelo representa la lista generica(@model List<EntPersona>)*@
        @foreach (EntPersona p in Model) 
        {
            @*Reemplazamos valores*@
            <tr>
                <td>@p.Nombre</td>
                <td>@p.Fecha_Nacimiento.ToString("dddd, dd De MMM De yyyy").ToUpper()</td>
                <td>@p.Correo</td>
                <td>@p.Usuario</td>
                <td>@p.Contraseña</td>
                <td>@p.infousuario</td>
            </tr>
        }
    </table>

    @if (TempData["mensaje"] != null )
    {
        <span>@TempData["mensaje"].ToString()</span>
        <div>
            @Html.ActionLink("Regresar", "Index")
        </div>
    }

</body>
</html>
