﻿@using EstudioExa.BissinessPersona @*Declaracmos el espacio de nombre para poderlo utilizar*@
@model EntPersona
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editar</title>
</head>
<body>
    
    @using (Html.BeginForm())
    {
        <table>
            <tr>
                <td>Nombre</td>
                <td>Fecha de Nacimiento</td>
                <td>Correo</td>
                <td>Usuario</td>
                <td>Contraseña</td>
            </tr>

            <tr>
                <td>@Html.TextBox("Nombre", Model.Nombre)</td>
                <td>@Html.TextBox("Fecha_Nacimiento", Model.Fecha_Nacimiento.ToString("yyyy/MM/dd"))</td>
                <td>@Html.TextBox("Correo", Model.Correo)</td>
                <td>@Html.TextBox("Usuario", Model.Usuario)</td>
                <td>@Html.TextBox("Contraseña", Model.contraseña)</td>

                <td> <input type="submit" name="btnActualizar" value="Actualizar" formaction="/Home/Actualizar" /> </td>
            </tr>

        </table>
    }

    <div>
        @Html.ActionLink("Regresar", "Index");
    </div>
</body>
</html>
