﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <fieldset style="color: green">
        <legend>Clases</legend>
        <table style="width:100%; border:5px solid red; text-align:center">
            <tr>
                <td colspan="4" style="color:#a40a0a; font-size:18px;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Sistemas Clases</td>
            </tr>

            <tr>
                <td style="width:25%">@Html.ActionLink("Mostrar", "BtnMostrar")</td>
                <td style="width:25%">@Html.ActionLink("Agregar", "BtnAgregar")</td>
                <td style="width:25%">@Html.ActionLink("Editar", "BtnEditar")</td>
                <td style="width:25%">@Html.ActionLink("Eliminar", "BtnEliminar")</td>
            </tr>
        </table>
    </fieldset>

    @if (TempData["mensaje"] != null)
    {
        <span style="color: #ff0000">@TempData["mensaje"].ToString()</span>
    }
</body>
</html>
